/* CSS du site web Dou(x)a */
/* Designed by Riad & Anthony */


header, body, footer {
  font-family:Arial, Helvetica, sans-serif
}

.material-symbols-outlined { /* css symbole "menu" de google */
 font-variation-settings:
 'FILL' 0,
 'wght' 400,
 'GRAD' 0,
 'opsz' 24;
 color: rgb(43, 137, 90); /* met la couleur verte a symbole */
 padding: 5px 5px; /* positionner symbole */
 font-size: 1.5em;
}
 
.navbar { 
  list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
header li a:hover {
  color: rgb(90, 220, 123); /* met la couleur un vert clair quand on passe dessus */
}
 
.nav-link {
  text-decoration: none; /* Supprime la décoration de lien (soulignement) */
  color: green; /* Couleur du texte par défaut (vert) */
  padding: 1em 3em; /* Espacement autour du texte (haut/bas et gauche/droite) */
  transition: color 0.3s; /* Transition pour changer la couleur du texte en 0.3 seconde */
}
 
li > img {
  width: 160px; /* ajuste la taille du logo DOUX(X)A */
  height: auto;
}
 
.logo {
  float:left; /* Le logo DOU(X)A se met à gauche */
}
 
/* style page index : en-tete img et texte ------------------------------------- */
.en-tete {
  display: flex;
  align-items: center;
  background-image: url(img/accueil1-2.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

 
.textimg {
  color: white; 
  font-style: italic;
  margin-left: 10px; 
  max-width: 60%;
  font-size: 150%;
  font-weight: bold;
  margin:auto;
}
 
/* contenu page index & transports */
.container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
 
.item {
  display: flex;
  align-items: center;
  width: 80%; 
  margin:auto;
}
 
.item:nth-child(2),
.item:nth-child(4){
  flex-direction: row-reverse;
}
 
.imgflex {
  max-width: 50%; 
  height: auto;
  border-radius: 15px;
  margin-bottom: 25px;
}
 
article p {
  margin: 20% 10% 10% 10%;
}
 
/* Styles page transports ---------------------------------------------------- */

.Titre-transports {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 500px;
  min-height: 250px;
  margin: auto;
}
 
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
 
th {
  background-color: #D9D9D9;
}
 
tr:nth-child(2) > td {
  background-color: #FF3830;
}
 
tr > td:first-child {
  background-color:rgba(0, 0, 0, 0.75);
  color: white;
  width: 20%;
}
 
 
/* Style page FAQ ---------------------------------------------------------- */
.titre-faq{
  text-align: center;
}

/* ajuste la taille du logo-faq */
.logo-faq {
  width: 50px; 
  height: auto;
}
 
/* Style général du formulaire */
form {
  max-width: 400px;
  margin: auto;
}
 
/* Style des labels du formulaire */
label {
  display: block;
  margin-bottom: 8px;
}
 
/* Style des inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 100%;
}
 
/* Style du bouton */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
/* Style de l'effet du bouton */
button:hover {
  background-color: #2b9631;
}
 
/* Style pour les champs obligatoires */
input:required,
select:required,
textarea:required{
  border-color: #e74c3c;
}
 
/* Style pour les messages valides */
input:valid,
select:valid,
textarea:valid {
  border-color: #2ecc71;
}
 
#myForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
 
.faq-container {
  max-width: 800px;
  margin: 20px auto;
}
 
.bulle {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}
 
.bulle p {
  margin: 0;
}
 
.bulle .prenom {
  font-weight: bold;
}
 
 
/* Style page carte ------------------------------------------------------- */
#map-container {
  width: 100%;
  height: 400px;
  text-align: center;
}
 
iframe {
width: 90%;
height: 60%;
}
 
/* Style footer */
.container-footer {
  width: 90%;
  margin: auto;
}

.div-cartes > section > img {
  width: 70%;
  height: auto;
  text-align: center;
}
 
footer {
  background: #333;
  padding: 20px 0;
  color: #fff;
}
 
.footer-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
 
.footer-section {
  flex: 1;
  padding: 10px;
}
 
.footer-section img {
  width: 150px;
  height: auto;
}
 
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background: #555;
}
 
ul {
  list-style: none;
  padding: 0;
}
 
ul li {
  padding: 6px;
}
 
a {
  color: #fff;
  text-decoration: none;
}
 
footer a:hover {
  text-decoration: underline;
}
 
/* responsive design pour téléphone */
@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
        align-items: stretch;
        text-align: center;
    
  
  }
 
  .navbar li {
    margin: 5px 0px;
  }
 
  .item {
    display: block;
    align-items: center;
    width: 80%; 
    margin-bottom: 50px; 
    margin-top: 10px; 
  }
   
  .imgflex {
    max-width: 100%; 
    height: auto; 
    border-radius: 15px;
    margin-bottom: 25px;
  }

  .footer-content {
    flex-direction: column;
  }
  
}
 